* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.wrap {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  padding-top: 5rem;
  margin: 0 auto;
  max-width: 800px;
}

.settings {
  border-right: 1px dashed #ccc;
  width: 350px;
}

.settings h2 {
  margin-bottom: 1rem;
}

.settings ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
}